<?xml version="1.0"?>

<launch>
    <!-- start tracker -->
    <node pkg="mecanumbot" type="ball_tracker" name="ball_tracker" output="screen">
        <remap from="cloud_in" to="/camera/depth_registered/points"/>
        <remap from="cloud_out" to="/tracker/target_cloud"/>
        <remap from="marker" to="/tracker/target_marker"/>
        <!-- <param name="~scale_x" value="0.000885" />
        <param name="~scale_th" value="0.0032" /> -->
    </node>

    <!-- start tracker filter -->
    <node pkg="mecanumbot" type="target_average_filter" name="target_average_filter" output="screen">
        <param name="~parent_frame" value="/odom" type="string"/>
        <param name="~window_size" value="0.5" type="double" />
    </node>
</launch>
