<?xml version="1.0"?>

<launch>
	<!-- start kinect -->
	<include file="$(find openni_launch)/launch/openni.launch" />
	<!-- <node pkg="nodelet" type="nodelet" name="pointcloud_throttle" args="load pointcloud_to_laserscan/CloudThrottle openni_manager" respawn="true">
		<param name="max_rate" value="0.5"/>
		<remap from="cloud_in" to="/camera/depth/points"/>
		<remap from="cloud_out" to="cloud_throttled"/>
	</node> -->
</launch>
