<?xml version="1.0"?>

<launch>
    <node pkg="mecanumbot" type="target_follower" name="target_follower" output="screen">
        <param name="~follow_distance" value="1.0" type="double"/>
        <param name="~linear_x_scale" value="0.5" type="double"/>
        <param name="~linear_x_max" value="0.5" type="double"/>
        <param name="~angular_z_scale" value="2.0" type="double"/>
        <param name="~angular_z_max" value="0.5" type="double"/>
        <param name="~target_frame" value="/target_filtered" type="string"/>
    </node>
</launch>
