<?xml version="1.0"?>

<launch>
	<!-- Xbox channel mapping

	#	Axis description
	0	left X (left/right)
	1	left Y (up/down)
	2	LT
	3	right X
	4	right Y
	5	RT

	#	Button description
	0	A
	1	B
	2	X
	3	Y
	4	LB
	5	RB
	6	BACK
	7	START
	8	POWER
	9	left stick click
	10	right stick click
	11	cross key left
	12	cross key right
	13	cross key up
	14	cross key down
	-->

	<!-- start xbox controller -->
	<node respawn="true" pkg="joy"  type="joy_node" name="xbox_node" output="screen">
		<param name="dev" value="/dev/xboxcontroller" type="string"/>
	</node>
	<node pkg="mecanumbot" type="teleop_xbox" name="teleop_xbox">
		<param name="~linear_x_scale" value="1.0" type="double"/>
		<param name="~linear_y_scale" value="1.0" type="double"/>
		<param name="~angular_z_scale" value="-2.0" type="double"/>
		<param name="~preboost_scale" value="0.3" type="double"/>
		<param name="~linear_x_axis" value="1" type="int"/>
		<param name="~linear_y_axis" value="0" type="int"/>
		<param name="~angular_z_axis" value="3" type="int"/>
		<param name="~boost_button" value="4" type="int"/>
		<param name="~enable_button" value="0" type="int"/>
		<param name="~disable_button" value="1" type="int"/>
	</node>
</launch>
